/* Beach with sunset */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.shopify.com/s/files/1/1568/8443/collections/beach-sunsets-and-sunrises-wall-art.jpg?crop=center&height=1024&v=1649152602&width=1024);
    background-size: cover;
    filter: none;
  }
  
  /* Style the login container */
  .login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgba(3, 52, 52, 0.7); /*how to create a tranparatnt//youtube */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }

   .far fa-eye-slash {
    background-image: white;
  }
  /* Center the contents of the login container */
  .login-container h1,
  .login-container button,
  .login-container a {
    margin: 20px 0;
  }
  
  /* Style the input containers */
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #aa9898;
    border-radius: 5px;
  }

  /* Style the input icons */
  .input-container i {
    margin-right: 30px;
  }

  /* Blue button text size */
  button {
    background-color: #1f5fb7; /* f/w3 school.com */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  /*button changes color when pointing mouse*/
  button:hover {
    background-color:#91630c;
    transition: 0.7s;
}
  
/* text color */
body {
    color: rgb(242, 157, 10);

  }

  /* hyperling color */

a {
    font-size: larger;
    color: rgb(242, 157, 10);
}
  /* hyperling changing color when clicked */
  a:hover{
    color: blue;
  }
  
  
  
  
  